/*.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#search-input {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px gray;
}

#search-btn {
  width: 25%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}*/

/*.map-container {
  height: 400px;
}*/

.map-container {
  width: 100%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
}

.map-frame {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

.add-plug-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  background-color: var(--base-skin);
  border-radius: 5%;
}
