<!-- Feuilles de style CSS de Leaflet -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!-- Fichier JavaScript de Leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<body>
  <div class="page">
    <div class="min-box">
      <!--header start-->
      <header id="masthead" class="header prt-header-style-01">
        <!-- topbar -->
        <div class="top_bar bg-base-dark clearfix">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="top_bar_contact_item">
                      <div class="top_bar_icon">
                        <i class="fa fa-map-marker"></i>
                      </div>
                      <div class="top_bar_content">
                        24 Tech Roqad st Ny 10023
                      </div>
                    </div>
                    <div class="top_bar_contact_item">
                      <div class="top_bar_icon">
                        <i class="flaticon-clock-1"></i>
                      </div>
                      <div class="top_bar_content">Mon-Sat: 9am to 6pm</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="contact-info">
                      <div class="top_bar_contact_item prt-highlight-right">
                        <div class="top_bar_icon">
                          <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="top_bar_content">
                          <a href="mailto:info@gmail.com"
                            >support@themetechmount.com</a
                          >
                        </div>
                      </div>
                      <div class="top_bar_content-main">Follow On :</div>
                      <div
                        class="top_bar_contact_item top_bar_social ml-auto p-0"
                      >
                        <ul class="social-icons d-flex">
                          <li>
                            <a
                              class="prt-social-facebook"
                              href="https://www.facebook.com/themetechMount18"
                              rel="noopener"
                              aria-label="facebook"
                              ><i class="fa fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="prt-social-twitter"
                              href="https://twitter.com/themetechmount"
                              rel="noopener"
                              aria-label="twitter"
                              ><i class="fa fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="prt-social-linkedin"
                              href="https://www.linkedin.com/company/themetech-mount/"
                              rel="noopener"
                              aria-label="google"
                              ><i class="fa fa-linkedin"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- topbar end -->
        <!-- site-header-menu -->
        <div id="site-header-menu" class="site-header-menu bg-base-white">
          <div class="site-header-menu-inner prt-stickable-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <!--site-navigation -->
                  <div
                    class="site-navigation d-flex flex-row justify-content-between align-items-center"
                  >
                    <!-- site-branding -->
                    <div class="site-branding">
                      <h1>
                        <a
                          class="home-link"
                          href="index.html"
                          title="Elexio"
                          rel="home"
                        >
                          <img
                            id="logo-img"
                            height="35"
                            width="155"
                            class="img-fluid auto_size"
                            src="../../assets/images/logo-final-dark.svg"
                            alt="logo-img"
                          />
                        </a>
                      </h1>
                    </div>
                    <!-- site-branding end -->
                    <div class="d-flex flex-row">
                      <div
                        class="btn-show-menu-mobile menubar menubar--squeeze"
                      >
                        <span class="menubar-box">
                          <span class="menubar-inner"></span>
                        </span>
                      </div>
                      <!-- menu -->
                      <nav class="main-menu menu-mobile ms-auto" id="menu">
                        <ul class="menu">
                          <li class="mega-menu-item">
                            <a routerLink="" class="mega-menu-link">Home</a>
                          </li>
                          <li class="mega-menu-item active">
                            <a class="mega-menu-link" routerLink="/map">Card</a>
                          </li>
                          <li class="mega-menu-item">
                            <a
                              class="mega-menu-link"
                              routerLink="/searchStation"
                              >Advanced Search</a
                            >
                          </li>
                          <li class="mega-menu-item">
                            <a
                              class="mega-menu-link"
                              routerLink="/UtilisateurBorne"
                              >List</a
                            >
                          </li>

                          <li class="mega-menu-item">
                            <a class="mega-menu-link">Portfolio</a>
                          </li>
                          <li class="mega-menu-item">
                            <a class="mega-menu-link">Blog</a>
                          </li>
                          <li class="mega-menu-item">
                            <a class="mega-menu-link">Contact Us</a>
                          </li>
                        </ul>
                      </nav>
                      <!-- menu end -->
                      <div class="d-flex flex-row">
                        <div
                          class="header_extra d-flex flex-row align-items-center justify-content-end"
                        >
                          <div class="header_btn mt-1">
                            <a
                              class="prt-btn prt-btn-size-sm prt-btn-shape-round prt-btn-style-fill prt-icon-btn-right prt-btn-color-skincolor mt-10 mr-2"
                              s
                              >Logout</a
                            >
                          </div>
                        </div>
                        <div
                          class="widget_info d-flex flex-row align-items-center justify-content-end"
                        >
                          <div class="widget_icon text-base-skin">
                            <i class="flaticon-phone-call"></i>
                          </div>
                          <div class="widget_content">
                            <p class="widget_desc">Call Us</p>
                            <h3 class="widget_title">+800 456 78 901</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- site-navigation end-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="site-main">
        <!--grid-section-->
        <section class="prt-row grid-section clearfix mx-0">
          <div class="map-container mt-80" style="height: 785px">
            <div class="map-frame">
              <div id="map">
                <button
                  (click)="openLegendModal()"
                  class="legend-modal-button map-legend-button"
                >
                  Legend
                </button>
              </div>
              <button class="add-plug-button" routerLink="/borne">
                ADD PLUG
              </button>
            </div>
          </div>
          <!-- Formulaire de recherche -->
          <input
            type="text"
            [(ngModel)]="startLocation"
            placeholder="Start Point"
          />

          <input
            type="text"
            [(ngModel)]="endLocation"
            placeholder="End Point "
          />

          <button (click)="searchRoute()" style="background-color: black">
            Search
          </button>
          <!-- Légende -->
          <div class="legend-modal">
            <div *ngIf="legendModalOpened" class="modal" style="display: block">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center">Legend</h5>
                    <button
                      type="button"
                      class="close"
                      (click)="legendModalOpened = false"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="legend-item">
                      <img
                        src="/assets/images/marker1.png"
                        class="legend-marker small"
                      />
                      <div class="legend-label">Stations with SLOW Plugs</div>
                    </div>
                    <div class="legend-item">
                      <img
                        src="/assets/images/marker2.png"
                        class="legend-marker small"
                        style="height: 30px; width: 30px"
                      />
                      <div class="legend-label">Stations with FAST Plugs</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="legend-modal">
            <div *ngIf="ModalOpened" class="modal" style="display: block">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center">
                      Titre du composant cible
                    </h5>
                    <button
                      type="button"
                      class="close"
                      (click)="ModalOpened = false"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul class="prt-pf-detailbox-list">
                      <li>
                        <span>Station name </span>
                        <span class="prt-pf-right-details">
                          {{ station.name }}</span
                        >
                      </li>
                      <li>
                        <span>Opening Hrs </span>
                        <span class="prt-pf-right-details">{{
                          station.ouverture
                        }}</span>
                      </li>
                      <li>
                        <span>Closing Hrs </span>
                        <span class="prt-pf-right-details">{{
                          station.fermeture
                        }}</span>
                      </li>
                    </ul>

                    <!-- Emplacement où le composant cible sera affiché -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--grid-section end-->
      </div>
      <!-- Recherche -->

      <!--site-main end-->

      <!--back-to-top start-->
      <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!--back-to-top end-->
    </div>
    <!-- page end -->
  </div>
</body>
