<!-- Feuilles de style CSS de Leaflet -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
/>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!-- Fichier JavaScript de Leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

<body>
  <div class="page">
    <div class="min-box">
      <!--header start-->
      <header id="masthead" class="header prt-header-style-01">
        <!-- topbar -->
        <div class="top_bar bg-base-dark clearfix">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="top_bar_contact_item">
                      <div class="top_bar_icon">
                        <i class="fa fa-map-marker"></i>
                      </div>
                      <div class="top_bar_content">
                        24 Tech Roqad st Ny 10023
                      </div>
                    </div>
                    <div class="top_bar_contact_item">
                      <div class="top_bar_icon">
                        <i class="flaticon-clock-1"></i>
                      </div>
                      <div class="top_bar_content">Mon-Sat: 9am to 6pm</div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="contact-info">
                      <div class="top_bar_contact_item prt-highlight-right">
                        <div class="top_bar_icon">
                          <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="top_bar_content">
                          <a href="mailto:info@gmail.com"
                            >support@themetechmount.com</a
                          >
                        </div>
                      </div>
                      <div class="top_bar_content-main">Follow On :</div>
                      <div
                        class="top_bar_contact_item top_bar_social ml-auto p-0"
                      >
                        <ul class="social-icons d-flex">
                          <li>
                            <a
                              class="prt-social-facebook"
                              href="https://www.facebook.com/themetechMount18"
                              rel="noopener"
                              aria-label="facebook"
                              ><i class="fa fa-facebook-f"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="prt-social-twitter"
                              href="https://twitter.com/themetechmount"
                              rel="noopener"
                              aria-label="twitter"
                              ><i class="fa fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="prt-social-linkedin"
                              href="https://www.linkedin.com/company/themetech-mount/"
                              rel="noopener"
                              aria-label="google"
                              ><i class="fa fa-linkedin"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- topbar end -->
        <!-- site-header-menu -->
        <div id="site-header-menu" class="site-header-menu bg-base-white">
          <div class="site-header-menu-inner prt-stickable-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <!--site-navigation -->
                  <div
                    class="site-navigation d-flex flex-row justify-content-between align-items-center"
                  >
                    <!-- site-branding -->
                    <div class="site-branding">
                      <h1>
                        <a
                          class="home-link"
                          href="index.html"
                          title="Elexio"
                          rel="home"
                        >
                          <img
                            id="logo-img"
                            height="35"
                            width="155"
                            class="img-fluid auto_size"
                            src="../../assets/images/logo-plugpower.png"
                            alt="logo-img"
                          />
                        </a>
                      </h1>
                    </div>
                    <!-- site-branding end -->
                    <div class="d-flex flex-row">
                      <div
                        class="btn-show-menu-mobile menubar menubar--squeeze"
                      >
                        <span class="menubar-box">
                          <span class="menubar-inner"></span>
                        </span>
                      </div>
                      <!-- menu -->
                      <nav class="main-menu menu-mobile ms-auto" id="menu">
                        <ul class="menu">
                          <li class="mega-menu-item">
                            <a routerLink="" class="mega-menu-link">Home</a>
                          </li>
                          <li class="mega-menu-item active">
                            <a class="mega-menu-link" routerLink="/map">Card</a>
                          </li>
                          <li class="mega-menu-item">
                            <a
                              class="mega-menu-link"
                              routerLink="/searchStation"
                              >Advanced Search</a
                            >
                          </li>
                          <li class="mega-menu-item">
                            <a
                              class="mega-menu-link"
                              routerLink="/UtilisateurBorne"
                              >List</a
                            >
                          </li>

                          <li class="mega-menu-item">
                            <a class="mega-menu-link">Contact Us</a>
                          </li>
                          <div class="user-notification mt-19">
                            <div class="dropdown">
                              <a
                                class="dropdown-toggle no-arrow"
                                href="#"
                                role="button"
                                data-toggle="dropdown"
                              >
                                <i
                                  class="icon-copy dw dw-notification mt-2"
                                ></i>
                                <span
                                  id="notificationBadge"
                                  class="translate-middle badge rounded-pill bg-danger"
                                  style="
                                    width: 20px;
                                    height: 18px;
                                    right: -6px;
                                    margin-top: 10px;
                                  "
                                  >{{ getStationsLength() }}
                                </span>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <p
                                  class="mega-menu-item"
                                  style="font-weight: 100"
                                >
                                  Notifications
                                </p>
                                <div
                                  class="notification-list mx-h-350 customscroll"
                                  *ngIf="stations"
                                >
                                  <ul>
                                    <li *ngFor="let station of stations">
                                      <h3>
                                        {{ station.name }}
                                      </h3>
                                      <p>New Station is Added !</p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ul>
                      </nav>

                      <!-- menu end -->
                      <div class="d-flex flex-row">
                        <div
                          class="widget_info d-flex flex-row align-items-center justify-content-end"
                        ></div>

                        <span
                          class="user-name"
                          style="
                            margin-top: 35px;
                            font-weight: bold;
                            color: var(--base-skin);
                          "
                          >{{ user.prenom.toUpperCase() }}
                        </span>
                      </div>
                      <div
                        class="header_extra d-flex flex-row align-items-center justify-content-end"
                      >
                        <div class="header_btn">
                          <a
                            class="prt-btn prt-btn-size-sm prt-btn-shape-round prt-btn-style-fill prt-icon-btn-right prt-btn-color-skincolor mr-"
                            s
                            (click)="logout()"
                            >Logout</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- site-navigation end-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="site-main">
        <!--grid-section-->
        <section class="prt-row grid-section clearfix mx-0">
          <div class="map-container mt-80" style="height: 790px">
            <div class="map-frame">
              <div id="map">
                <button
                  (click)="openLegendModal()"
                  class="legend-modal-button map-legend-button"
                >
                  Legend
                </button>
              </div>
              <button class="add-plug-button" (click)="handleAddPlugClick()">
                ADD PLUG
              </button>

              <button class="search-button" (click)="handleSearchClick()">
                Search
              </button>
            </div>
          </div>
          <!-- Formulaire de recherche -->
          <input
            type="text"
            [(ngModel)]="startLocation"
            placeholder="Start Point"
          />

          <input
            type="text"
            [(ngModel)]="endLocation"
            placeholder="End Point "
          />

          <button (click)="searchRoute()" style="background-color: black">
            Search
          </button>
          <!-- Légende -->
          <div class="legend-modal">
            <div *ngIf="legendModalOpened" class="modal" style="display: block">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center">Legend</h5>
                    <button
                      type="button"
                      class="close"
                      (click)="legendModalOpened = false"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="prt-pricing-plan">
                    <div class="prt-p_table-head">
                      <div class="prt-p_table-title">
                        <div style="display: inline-block; margin-bottom: 15px">
                          <img
                            src="/assets/images/mauve.png"
                            class="legend-marker small"
                            style="
                              display: inline-block;
                              height: 50px;
                              width: 50px;
                            "
                          />
                          <h3 style="display: inline-block">SLOW Plugs</h3>
                        </div>
                        <div style="display: inline-block">
                          <img
                            src="/assets/images/vert.png"
                            class="legend-marker small"
                          />
                          <h3 style="display: inline-block">FAST Plugs</h3>
                        </div>
                      </div>

                      <div class="prt-p_table-amount"></div>
                      <div class="prt-p_table-icon">
                        <i class="flaticon-electric"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="legend-modal">
            <div
              *ngIf="ModalOpened"
              class="modal modal-left"
              style="display: block"
            >
              <div class="modal-dialog-left">
                <div class="modal-content">
                  <div class="modal-header"></div>
                  <div class="modal-body mt-120 p-20">
                    <button
                      type="button"
                      class="close"
                      (click)="ModalOpened = false"
                      style="margin-right: 15px"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- featured-imagebox -->
                    <div
                      class="featured-icon-box icon-align-before-content icon-ver_align-top"
                    >
                      <div class="featured-icon">
                        <div
                          class="prt-icon prt-icon_element-color-skincolor prt-icon_element-onlytxt prt-icon_element-size-lg prt-icon_element-style-rounded"
                        >
                          <i class="flaticon-route"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Location</h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            {{ station.name }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- featured-imagebox end-->
                    <div
                      class="prt-horizontal_sep width-100 mt-25 mb-20 mr-40 res-991-mr-0"
                    ></div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div
                          class="featured-icon-box icon-align-before-content icon-ver_align-top icon-flip-hover"
                        >
                          <div class="featured-icon">
                            <div
                              class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-lg"
                            >
                              <i class="flaticon-clock"></i>
                            </div>
                          </div>
                          <div class="featured-content">
                            <div class="featured-title">
                              <h3>Opening Hrs</h3>
                            </div>
                            <p>
                              {{ station.ouverture }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6">
                        <div
                          class="featured-icon-box icon-align-before-content icon-ver_align-top icon-flip-hover"
                        >
                          <div class="featured-icon">
                            <div
                              class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-lg"
                            >
                              <i class="flaticon-clock" style="width: 35%"></i>
                            </div>
                          </div>
                          <div class="featured-content">
                            <div class="featured-title">
                              <h3>closing Hrs</h3>
                            </div>
                            <p>
                              {{ station.fermeture }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="featured-icon-box style7 icon-align-before-content"
                    >
                      <div class="featured-icon">
                        <div
                          class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-lg"
                        >
                          <i class="flaticon-wireless-charging"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>EV Charging</h3>
                        </div>
                      </div>
                    </div>
                    <div class="prt-team-details-wrapper">
                      <ul
                        class="prt-team-details-list clearfix"
                        *ngFor="let br of station.bornes"
                      >
                        <li>
                          <div class="prt-team-list-value">
                            <a
                              href="tel:(123)456-7890"
                              (click)="getBorneDetails(br.id)"
                            >
                              {{ br.name }}</a
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <div>
                        <a class="media-btn"> </a>
                      </div>

                      <div>
                        <h3>
                          <a></a>
                        </h3>
                      </div>
                    </div>
                  </div>

                  <!-- Emplacement où le composant cible sera affiché -->
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--grid-section end-->
      </div>
      <!-- Recherche -->

      <!--site-main end-->

      <!--back-to-top start-->
      <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!--back-to-top end-->
    </div>
    <!-- page end -->
  </div>
</body>
