.text-right .btn {
  background-color: var(--base-skin);
  color: black; /* Couleur du texte en noir */
  margin-right: 10px; /* Espacement entre les boutons, ajustez selon vos besoins */
  border-color: var(--base-skin);
}
