<body>
  <!--page start-->
  <div class="page">
    <!--header start-->
    <header id="masthead" class="header prt-header-style-01">
      <!-- topbar -->
      <div class="top_bar bg-base-dark clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="top_bar_content">24 Tech Roqad st Ny 10023</div>
                  </div>
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="flaticon-clock-1"></i>
                    </div>
                    <div class="top_bar_content">Mon-Sat: 9am to 6pm</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="contact-info">
                    <div class="top_bar_contact_item prt-highlight-right">
                      <div class="top_bar_icon">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="top_bar_content">
                        <a href="mailto:info@gmail.com"
                          >support@themetechmount.com</a
                        >
                      </div>
                    </div>
                    <div class="top_bar_content-main">Follow On :</div>
                    <div
                      class="top_bar_contact_item top_bar_social ml-auto p-0"
                    >
                      <ul class="social-icons d-flex">
                        <li>
                          <a
                            class="prt-social-facebook"
                            href="https://www.facebook.com/themetechMount18"
                            rel="noopener"
                            aria-label="facebook"
                            ><i class="fa fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-twitter"
                            href="https://twitter.com/themetechmount"
                            rel="noopener"
                            aria-label="twitter"
                            ><i class="fa fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-linkedin"
                            href="https://www.linkedin.com/company/themetech-mount/"
                            rel="noopener"
                            aria-label="google"
                            ><i class="fa fa-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- topbar end -->
      <!-- site-header-menu -->
      <div id="site-header-menu" class="site-header-menu bg-base-white">
        <div class="site-header-menu-inner prt-stickable-header">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <!--site-navigation -->
                <div
                  class="site-navigation d-flex flex-row justify-content-between align-items-center"
                >
                  <!-- site-branding -->
                  <div class="site-branding">
                    <h1>
                      <a
                        class="home-link"
                        href="index.html"
                        title="Elexio"
                        rel="home"
                      >
                        <img
                          id="logo-img"
                          height="35"
                          width="155"
                          class="img-fluid auto_size"
                          src="../../assets/images/logo-final-dark.svg"
                          alt="logo-img"
                        />
                      </a>
                    </h1>
                  </div>
                  <!-- site-branding end -->
                  <div class="btn-show-menu-mobile menubar menubar--squeeze">
                    <span class="menubar-box">
                      <span class="menubar-inner"></span>
                    </span>
                  </div>
                  <!-- menu -->
                  <nav class="main-menu menu-mobile ms-auto" id="menu">
                    <ul class="menu">
                      <li class="mega-menu-item">
                        <a routerLink="" class="mega-menu-link">Home</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/map">Card</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/searchStation"
                          >Advanced Search</a
                        >
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/UtilisateurBorne"
                          >List</a
                        >
                      </li>
                      <li class="mega-menu-item active">
                        <a class="mega-menu-link">Station's Details</a>
                      </li>

                      <li class="mega-menu-item">
                        <a class="mega-menu-link">Contact Us</a>
                      </li>
                    </ul>
                  </nav>
                  <!-- menu end -->
                  <div class="d-flex flex-row">
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-end"
                    >
                      <div class="widget_icon text-base-skin">
                        <i class="flaticon-phone-call"></i>
                      </div>
                      <div class="widget_content">
                        <p class="widget_desc">Call Us</p>
                        <h3 class="widget_title">
                          <a href="tel:1234567890">+216 51 756 000</a>
                        </h3>
                      </div>
                    </div>
                    <div class="header_btn">
                      <a
                        class="prt-btn prt-btn-size-sm prt-btn-shape-round prt-btn-style-fill prt-icon-btn-right prt-btn-color-skincolor mt-10 mr-2"
                        style="margin-left: 25%"
                        (click)="logout()"
                        >Logout</a
                      >
                    </div>
                  </div>
                </div>
                <!-- site-navigation end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header end-->

    <!-- page-title -->
    <div class="prt-page-title-row-1">
      <div class="prt-page-title-row-inner-1">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="page-title-heading">
                <h2 class="title">Station's Details</h2>
              </div>

              <div class="breadcrumb-wrapper-main" style="top: 200%">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner">
                    <span>
                      <a href="index.html" class="home">&nbsp;&nbsp;Home</a>
                    </span>
                    <span class="prt-bread-sep">&nbsp; - &nbsp;</span>
                    <span>Station's Details</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--site-main start-->
    <div class="site-main">
      <!--about-section_1-->
      <section class="prt-row about-section clearfix">
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-xl-6 col-md-12">
              <!-- prt_single_image-wrapper -->
              <div class="prt_single_image-wrapper">
                <img
                  width="665"
                  height="630"
                  class="img-fluid"
                  src="../../assets/images/single-img-10.jpg"
                  alt="image"
                />
                <div class="featured-boxs">
                  <div class="fid prt-fid inside style2 bg-base-skin">
                    <div class="prt-fid-contents">
                      <h4 class="prt-fid-inner">
                        <span
                          data-appear-animation="animateDigits"
                          data-from="0"
                          data-to="36"
                          data-interval="1"
                          data-before=""
                          data-before-style="sup"
                          data-after=""
                          data-after-style="sub"
                          class="numinate"
                          >36</span
                        ><span>k</span>
                      </h4>
                      <h3 class="prt-fid-title">Successful Projects</h3>
                    </div>
                  </div>
                  <div class="fid prt-fid inside style3 bg-base-white">
                    <div class="prt-fid-contents">
                      <h4 class="prt-fid-inner">
                        <span
                          data-appear-animation="animateDigits"
                          data-from="0"
                          data-to="26"
                          data-interval="1"
                          data-before=""
                          data-before-style="sup"
                          data-after=""
                          data-after-style="sub"
                          class="numinate"
                          >26</span
                        ><span>k</span>
                      </h4>
                      <h3 class="prt-fid-title">Check charge status</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12 align-self-center">
              <div class="section-title res-1199-mt-30">
                <div class="title-header">
                  <h3>Station</h3>
                  <h2 class="title">
                    {{ station.name }}
                  </h2>
                </div>
                <div class="title-desc">
                  <p>
                    Electric vehicles are the future of successful transport. We
                    believe it should be easy to make the switch. We work with
                    and can install the most brand of EV charger.
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="prt-horizontal_sep width-100 mt-10 mb-30">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div
                      class="featured-icon-box icon-align-before-content icon-ver_align-top icon-flip-hover"
                    >
                      <div class="featured-icon">
                        <div
                          class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-lg"
                        >
                          <i class="flaticon-clock"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Opening Hrs</h3>
                        </div>
                        <h3 class="fs-18 mb-0">{{ station.ouverture }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="prt-horizontal_sep width-100 mt-10 mb-30">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div
                      class="featured-icon-box icon-align-before-content icon-ver_align-top icon-flip-hover"
                    >
                      <div class="featured-icon">
                        <div
                          class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-lg"
                        >
                          <i class="flaticon-clock"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Closing Hrs</h3>
                        </div>
                        <h3 class="fs-18 mb-0">{{ station.fermeture }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="prt-row image-section prt-bgimage-yes bg-img4 prt-bg bg-base-dark clearfix"
      >
        <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="prt-play-icon-btn animated"></div>
              <!-- section title -->
              <div class="section-title">
                <h2 class="title pt-40">
                  Hundreds Of Customers Trust Our Services
                </h2>
              </div>
              <!-- section title end -->
            </div>
            <div class="col-lg-6">
              <ul
                class="prt-list style3 prt-list-style-icon prt-list-icon-color-skincolor float-end"
              >
                <li>
                  <i class="flaticon-right-arrow-1"></i
                  ><span class="prt-list-li-content"
                    >We’ve expert & certified staff</span
                  >
                </li>
                <li>
                  <i class="flaticon-right-arrow-1"></i
                  ><span class="prt-list-li-content"
                    >We only provide quality services</span
                  >
                </li>
                <li>
                  <i class="flaticon-right-arrow-1"></i
                  ><span class="prt-list-li-content"
                    >We offer you free estimates</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="prt-row team-section bg-base-grey clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-12">
              <div class="section-title">
                <div class="title-header">
                  <h3>Station's plugs</h3>
                  <h2 class="title mb-25">Choice your Borne</h2>
                </div>
                <div class="title-desc">
                  <p>
                    Ensures the smoothest transition to EV charging at your
                    workplace.They kept me informed on the cars progress and.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-9 col-lg-12">
              <div
                class="row slick_slider mt_15"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "dots":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":992,"settings":{"slidesToShow": 2}}, {"breakpoint":778,"settings":{"slidesToShow": 2}}, {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'
              >
                <div class="row">
                  <div
                    class="col-lg-3 col-md-6"
                    *ngFor="let br of station.bornes"
                  >
                    <div
                      class="featured-imagebox featured-imagebox-team style1"
                    >
                      <div class="prt-box-view-overlay">
                        <div class="featured-iconbox prt-media-link">
                          <div class="media-block">
                            <a
                              (click)="getBorneDetails(br.id)"
                              class="media-btn"
                            >
                              <i class="ti ti-plus"></i>
                            </a>
                          </div>
                        </div>
                        <div class="featured-thumbnail">
                          <img
                            class="img-fluid"
                            src="../../assets/images/services/services-03-407x222.jpg"
                            alt="image"
                          />
                        </div>
                      </div>
                      <div class="featured-content featured-content-team">
                        <div class="featured-title">
                          <h3>
                            <a (click)="getBorneDetails(br.id)">{{
                              br.name
                            }}</a>
                          </h3>
                        </div>
                        <div class="team-position"></div>
                        <div class="team-icon pt-25">
                          <a href="mailto:info@gmail.com"> PlugPower</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="position-relative">
      <article
        class="post prt-blog-single bg-base-white box-shadow pt-20 pb-50 pl-40 pr-40 clearfix"
      >
        <div class="prt-blog-classic-box-comment clearfix mt-40">
          <div id="comments" class="comments-area">
            <div class="comment-respond">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="comment-reply-title">Leave a Comment</h3>

                  <form
                    action="#"
                    method="post"
                    id="commentform"
                    class="comment-form"
                  >
                    <p class="comment-form-comment">
                      <textarea
                        id="comment"
                        placeholder="Comment"
                        name="comment"
                        cols="45"
                        rows="4"
                        aria-required="true"
                        [(ngModel)]="evaluation.comment"
                      ></textarea>
                    </p>

                    <p class="form-submit mt-40 mb-0">
                      <button
                        class="prt-btn prt-btn-size-md prt-btn-shape-round prt-icon-btn-right prt-btn-style-fill prt-btn-color-skincolor"
                        type="submit"
                        (click)="addEvaluation()"
                      >
                        Comment
                      </button>
                    </p>
                  </form>
                </div>
                <div class="col-md-6">
                  <div class="container mt-5">
                    <div class="row d-flex justify-content-center">
                      <div class="col-md-8">
                        <div
                          class="headings d-flex justify-content-between align-items-center mb-3"
                        >
                          <h5>Recent comments</h5>

                          <div class="buttons">
                            <span
                              class="badge bg-white d-flex flex-row align-items-center"
                            >
                            </span>
                          </div>
                        </div>

                        <div
                          class="card p-3"
                          *ngFor="let evaluation of evaluations"
                        >
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <div
                              class="user d-flex flex-row align-items-center"
                            >
                              <img
                                src="https://i.imgur.com/hczKIze.jpg"
                                width="30"
                                class="user-img rounded-circle mr-2"
                              />
                              <span
                                ><small
                                  class="font-weight-bold text-base-skin"
                                  >{{ evaluation.user.prenom }}</small
                                >
                              </span>
                            </div>

                            <small>{{ evaluation.timestamp }}</small>
                          </div>

                          <div
                            class="action d-flex justify-content-between mt-2 align-items-center"
                          >
                            <div class="reply px-4">
                              <small
                                ><small class="font-weight-bold">
                                  {{ evaluation.comment }}</small
                                ></small
                              >
                            </div>

                            <div class="icons align-items-center">
                              <i class="fa fa-star text-warning"></i>
                              <i class="fa fa-check-circle-o check-icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!--site-main end-->

    <!-- footer start -->
    <footer class="widget-footer bg-base-grey clearfix">
      <div class="second-footer prt-bgimage-yes bg-footer prt-bg">
        <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget_text clearfix">
                <h3 class="widget-title">About Elexio</h3>
                <div class="textwidget widget-text pb-10">
                  <p>
                    A premium Html Template for Electric vehicle store and
                    services websites. Get the latest UI/UX landing experience
                  </p>
                </div>
                <div class="textwidget widget-text">
                  <ul class="widget_contact_wrapper pl-0 res-575-pb-0">
                    <li>
                      <strong>Email:</strong>
                      <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li>
                      <strong>Address:</strong> 20 Prince St.New Roch, NY 10801
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Our Services</h3>
                <ul id="menu-footer-quick-links">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Vehicle Chargers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget-recent-post clearfix">
                <h3 class="widget-title">Recent Posts</h3>
                <ul class="widget-post prt-recent-post-list">
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="../../assets/images/blog/blog-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Aug 01,2022
                        <span class="text-base-skin pl-5"> 03 Comment</span>
                      </span>
                      <a href="blog-right-sidebar.html"
                        >Discover nearby locations to charge electric vehicle
                      </a>
                    </div>
                  </li>
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="../../assets/images/blog/blog-1-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Sep 09,2022
                        <span class="text-base-skin pl-5">
                          05 Comment</span
                        ></span
                      >
                      <a href="blog-left-sidebar.html"
                        >Tata Power is offering ev charging solutions</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Useful Links</h3>
                <ul id="menu-footer-quick-links-main">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Home Charging</a></li>
                  <li><a href="contact-us.html">AC Charger Services</a></li>
                  <li><a href="about-us.html">Charge Point Services</a></li>
                  <li><a href="about-us-2.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-text text-center text-base-white copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="justify-content-between">
                <span class="cpy-text text-center"
                  >Copyright © 2022 <a href="index.html"> Elexio </a>. All
                  Rights Reserved.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!--back-to-top start-->
    <a id="totop" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->
  </div>
  <!-- page end -->
</body>
