<body>
  <!--page start-->
  <div class="page">
    <!--header start-->
    <header id="masthead" class="header prt-header-style-01">
      <!-- topbar -->
      <div class="top_bar bg-base-dark clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="top_bar_content">24 Tech Roqad st Ny 10023</div>
                  </div>
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="flaticon-clock-1"></i>
                    </div>
                    <div class="top_bar_content">Mon-Sat: 9am to 6pm</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="contact-info">
                    <div class="top_bar_contact_item prt-highlight-right">
                      <div class="top_bar_icon">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="top_bar_content">
                        <a href="mailto:info@gmail.com"
                          >support@themetechmount.com</a
                        >
                      </div>
                    </div>
                    <div class="top_bar_content-main">Follow On :</div>
                    <div
                      class="top_bar_contact_item top_bar_social ml-auto p-0"
                    >
                      <ul class="social-icons d-flex">
                        <li>
                          <a
                            class="prt-social-facebook"
                            href="https://www.facebook.com/themetechMount18"
                            rel="noopener"
                            aria-label="facebook"
                            ><i class="fa fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-twitter"
                            href="https://twitter.com/themetechmount"
                            rel="noopener"
                            aria-label="twitter"
                            ><i class="fa fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-linkedin"
                            href="https://www.linkedin.com/company/themetech-mount/"
                            rel="noopener"
                            aria-label="google"
                            ><i class="fa fa-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- topbar end -->
      <!-- site-header-menu -->
      <div id="site-header-menu" class="site-header-menu bg-base-white">
        <div class="site-header-menu-inner prt-stickable-header">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <!--site-navigation -->
                <div
                  class="site-navigation d-flex flex-row justify-content-between align-items-center"
                >
                  <!-- site-branding -->
                  <div class="site-branding">
                    <h1>
                      <a
                        class="home-link"
                        href="index.html"
                        title="Elexio"
                        rel="home"
                      >
                        <img
                          id="logo-img"
                          height="35"
                          width="155"
                          class="img-fluid auto_size"
                          src="../../assets/images/logo-final-dark.svg"
                          alt="logo-img"
                        />
                      </a>
                    </h1>
                  </div>
                  <!-- site-branding end -->
                  <div class="btn-show-menu-mobile menubar menubar--squeeze">
                    <span class="menubar-box">
                      <span class="menubar-inner"></span>
                    </span>
                  </div>
                  <!-- menu -->
                  <nav class="main-menu menu-mobile ms-auto" id="menu">
                    <ul class="menu">
                      <li class="mega-menu-item active">
                        <a href="#" class="mega-menu-link">Home</a>
                      </li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link" routerLink="/map"
                          >Card</a
                        >
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/search"
                          >Advanced Search</a
                        >
                      </li>
                      <li class="mega-menu-item">
                        <a routerLink="/UtilisateurBorne" class="mega-menu-link"
                          >List</a
                        >
                      </li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Blog</a>
                      </li>
                      <li class="mega-menu-item">
                        <a href="#" class="mega-menu-link">Contact Us</a>
                      </li>
                    </ul>
                  </nav>
                  <!-- menu end -->
                  <div class="d-flex flex-row">
                    <div class="header_btn">
                      <a
                        class="prt-btn prt-btn-size-sm prt-btn-shape-round prt-btn-style-fill prt-icon-btn-right prt-btn-color-skincolor mt-10 mr-2"
                        (click)="logout()"
                        >Logout</a
                      >
                    </div>
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-end"
                    >
                      <div class="widget_icon text-base-skin">
                        <i class="flaticon-phone-call"></i>
                      </div>
                      <div class="widget_content">
                        <p class="widget_desc">Call Us</p>
                        <h3 class="widget_title">
                          <a href="tel:1234567890">+800 456 78 901</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- site-navigation end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header end-->

    <!-- page-title -->
    <div class="prt-page-title-row-3">
      <div class="prt-page-title-row-inner-3">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="page-title-heading">
                <h2 class="title">Station's Details</h2>
              </div>
              <div class="breadcrumb-wrapper-main" style="top: 250%">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner">
                    <span>
                      <a href="index.html" class="home">&nbsp;&nbsp;Home</a>
                    </span>
                    <span class="prt-bread-sep">&nbsp; - &nbsp;</span>
                    <span>Station's Details</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--site-main start-->
    <div class="site-main">
      <!--grid-section-->
      <section class="prt-row grid-section clearfix">
        <div class="container">
          <!-- row -->
          <section class="prt-row clearfix mb_10">
            <div class="container">
              <!-- row -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="position-relative">
                    <!-- featured-imagebox -->
                    <article
                      class="post prt-blog-single bg-base-white box-shadow pt-20 pb-50 pl-40 pr-40 clearfix"
                    >
                      <div
                        class="featured-imagebox featured-imagebox-portfolio style3"
                      >
                        <!-- featured-thumbnail -->
                        <div class="featured-thumbnail">
                          <img
                            class="img-fluid"
                            src="../../assets/images/portfolio/portfolio-1-566x400.jpg"
                            alt="image"
                          />
                        </div>
                        <!-- featured-thumbnail end-->
                        <div class="featured-content">
                          <div class="featured-title">
                            <h3>
                              <a href="#" tabindex="0"
                                >Zero contact <br />
                                travel</a
                              >
                            </h3>
                          </div>
                          <div class="border-box"></div>
                          <div class="featured-iconbox prt-media-link">
                            <a href="#"><i class="ti ti-plus"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="section-title mt-40">
                        <div class="title-header">
                          <h2 class="title">{{ station.name }}</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="post-meta">
                            <b>Opening Time</b><br />
                            <span class="prt-meta-line comment-links"
                              ><i class="flaticon-calendar"></i
                              >{{ station.ouverture }}</span
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="post-meta">
                            <b>Closing Time</b><br />
                            <span class="prt-meta-line comment-links mt-40"
                              ><i class="flaticon-calendar"></i
                              >{{ station.fermeture }}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="team-icon pt-25" *ngFor="let br of bornes">
                        <img
                          src="assets/images/favicon.png "
                          style="width: 10%; height: 10%"
                        />
                        <a
                          href="mailto:info@gmail.com"
                          (click)="getBorneDetails(br.id)"
                          >Plug Power</a
                        >
                      </div>
                      <div class="prt-blog-classic-box-comment clearfix mt-40">
                        <div id="comments" class="comments-area">
                          <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a Reply</h3>
                            <p class="comment-notes">
                              Your Email Address Will Not Be Published. Required
                              Fields Are Marked*
                            </p>
                            <form
                              action="#"
                              method="post"
                              id="commentform"
                              class="comment-form"
                            >
                              <p class="comment-form-author">
                                <input
                                  id="author"
                                  placeholder="Name (required)"
                                  name="author"
                                  type="text"
                                  value=""
                                  size="30"
                                  aria-required="true"
                                />
                              </p>
                              <p class="comment-form-email">
                                <input
                                  id="email"
                                  placeholder="Email (required)"
                                  name="email"
                                  type="text"
                                  value=""
                                  size="30"
                                  aria-required="true"
                                />
                              </p>
                              <p class="comment-form-comment">
                                <textarea
                                  id="comment"
                                  placeholder="Comment"
                                  name="comment"
                                  cols="45"
                                  rows="4"
                                  aria-required="true"
                                ></textarea>
                              </p>

                              <p class="comment-cookies">
                                <input
                                  id="comment-cookies-consent"
                                  name="comment-cookies-consent"
                                  type="checkbox"
                                  value="yes"
                                  class="me-1"
                                />
                                <label for="comment-cookies-consent"
                                  >Save my name, email, and website in this
                                  browser for the next time I comment.</label
                                >
                              </p>
                              <p class="form-submit mt-40 mb-0">
                                <button
                                  class="prt-btn prt-btn-size-md prt-btn-shape-round prt-icon-btn-right prt-btn-style-fill prt-btn-color-skincolor"
                                  type="submit"
                                >
                                  Submit
                                </button>
                              </p>
                            </form>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="col-lg-6 pl-35 res-991-pl-15">
                  <div class="entry-content">
                    <div class="prt-box-desc-text">
                      <div class="section-title mt-40">
                        <div class="title-header">
                          <h2 class="title">List of Plugs</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-md-6">
                          <!--featured-imagebox-->
                          <div>
                            <!-- Afficher les détails de la station ici -->

                            <div
                              class="featured-imagebox featured-imagebox-services style3"
                              *ngFor="let br of station.bornes"
                            >
                              <div class="featured-content">
                                <div class="featured-title">
                                  <h3>
                                    <a>
                                      <div>
                                        <div>
                                          {{ br.name }}
                                        </div>
                                      </div>
                                    </a>
                                  </h3>
                                </div>

                                <a
                                  class="prt-icon bottom_icon"
                                  (click)="getBorneDetails(br.id)"
                                >
                                  <i class="flaticon-right-arrow-2"></i>
                                </a>
                              </div>

                              <div class="prt-box-view-overlay border-rad_6">
                                <!-- featured-thumbnail -->
                                <div class="featured-thumbnail">
                                  <img
                                    class="img-fluid"
                                    src="../../assets/images/services/servives-02.jpg"
                                    alt="image"
                                  />
                                </div>
                                <!-- featured-thumbnail end-->
                              </div>
                            </div>
                          </div>

                          <!-- featured-imagebox end-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <!--grid-section end-->
    </div>
    <!--site-main end-->

    <footer class="widget-footer bg-base-grey clearfix">
      <div class="second-footer prt-bgimage-yes bg-footer prt-bg">
        <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget_text clearfix">
                <h3 class="widget-title">About Elexio</h3>
                <div class="textwidget widget-text pb-10">
                  <p>
                    A premium Html Template for Electric vehicle store and
                    services websites. Get the latest UI/UX landing experience
                  </p>
                </div>
                <div class="textwidget widget-text">
                  <ul class="widget_contact_wrapper pl-0 res-575-pb-0">
                    <li>
                      <strong>Email:</strong>
                      <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li>
                      <strong>Address:</strong> 20 Prince St.New Roch, NY 10801
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Our Services</h3>
                <ul id="menu-footer-quick-links">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Vehicle Chargers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget-recent-post clearfix">
                <h3 class="widget-title">Recent Posts</h3>
                <ul class="widget-post prt-recent-post-list">
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="images/blog/blog-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Aug 01,2022
                        <span class="text-base-skin pl-5"> 03 Comment</span>
                      </span>
                      <a href="blog-right-sidebar.html"
                        >Discover nearby locations to charge electric vehicle
                      </a>
                    </div>
                  </li>
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="images/blog/blog-1-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Sep 09,2022
                        <span class="text-base-skin pl-5">
                          05 Comment</span
                        ></span
                      >
                      <a href="blog-left-sidebar.html"
                        >Tata Power is offering ev charging solutions</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Useful Links</h3>
                <ul id="menu-footer-quick-links-main">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Home Charging</a></li>
                  <li><a href="contact-us.html">AC Charger Services</a></li>
                  <li><a href="about-us.html">Charge Point Services</a></li>
                  <li><a href="about-us-2.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-text text-center text-base-white copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="justify-content-between">
                <span class="cpy-text text-center"
                  >Copyright © 2022 <a href="index.html"> Elexio </a>. All
                  Rights Reserved.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--back-to-top start-->
    <a id="totop" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->
  </div>
  <!-- page end -->
</body>
