<body>
  <!--page start-->
  <div class="page">
    <!--header start-->
    <header id="masthead" class="header prt-header-style-01">
      <!-- topbar -->
      <div class="top_bar bg-base-dark clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="top_bar_content">24 Tech Roqad st Ny 10023</div>
                  </div>
                  <div class="top_bar_contact_item">
                    <div class="top_bar_icon">
                      <i class="flaticon-clock-1"></i>
                    </div>
                    <div class="top_bar_content">Mon-Sat: 9am to 6pm</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="contact-info">
                    <div class="top_bar_contact_item prt-highlight-right">
                      <div class="top_bar_icon">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="top_bar_content">
                        <a href="mailto:info@gmail.com"
                          >support@themetechmount.com</a
                        >
                      </div>
                    </div>
                    <div class="top_bar_content-main">Follow On :</div>
                    <div
                      class="top_bar_contact_item top_bar_social ml-auto p-0"
                    >
                      <ul class="social-icons d-flex">
                        <li>
                          <a
                            class="prt-social-facebook"
                            href="https://www.facebook.com/themetechMount18"
                            rel="noopener"
                            aria-label="facebook"
                            ><i class="fa fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-twitter"
                            href="https://twitter.com/themetechmount"
                            rel="noopener"
                            aria-label="twitter"
                            ><i class="fa fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a
                            class="prt-social-linkedin"
                            href="https://www.linkedin.com/company/themetech-mount/"
                            rel="noopener"
                            aria-label="google"
                            ><i class="fa fa-linkedin"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- topbar end -->
      <!-- site-header-menu -->
      <div id="site-header-menu" class="site-header-menu bg-base-white">
        <div class="site-header-menu-inner prt-stickable-header">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <!--site-navigation -->
                <div
                  class="site-navigation d-flex flex-row justify-content-between align-items-center"
                >
                  <!-- site-branding -->
                  <div class="site-branding">
                    <h1>
                      <a
                        class="home-link"
                        href="index.html"
                        title="Elexio"
                        rel="home"
                      >
                        <img
                          id="logo-img"
                          height="35"
                          width="155"
                          class="img-fluid auto_size"
                          src="../../assets/images/logo-final-dark.svg"
                          alt="logo-img"
                        />
                      </a>
                    </h1>
                  </div>
                  <!-- site-branding end -->
                  <div class="btn-show-menu-mobile menubar menubar--squeeze">
                    <span class="menubar-box">
                      <span class="menubar-inner"></span>
                    </span>
                  </div>
                  <!-- menu -->
                  <nav class="main-menu menu-mobile ms-auto" id="menu">
                    <ul class="menu">
                      <li class="mega-menu-item">
                        <a routerLink="" class="mega-menu-link">Home</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/map">Card</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/searchStation"
                          >Advanced Search</a
                        >
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link" routerLink="/UtilisateurBorne"
                          >List</a
                        >
                      </li>
                      <li class="mega-menu-item active">
                        <a class="mega-menu-link">Plug's Details</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link">Portfolio</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link">Blog</a>
                      </li>
                      <li class="mega-menu-item">
                        <a class="mega-menu-link">Contact Us</a>
                      </li>
                    </ul>
                  </nav>
                  <!-- menu end -->
                  <div class="d-flex flex-row">
                    <div class="header_btn">
                      <a
                        class="prt-btn prt-btn-size-sm prt-btn-shape-round prt-btn-style-fill prt-icon-btn-right prt-btn-color-skincolor mt-10 mr-2"
                        s
                        >Logout</a
                      >
                    </div>
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-end"
                    >
                      <div class="widget_icon text-base-skin">
                        <i class="flaticon-phone-call"></i>
                      </div>
                      <div class="widget_content">
                        <p class="widget_desc">Call Us</p>
                        <h3 class="widget_title">
                          <a href="tel:1234567890">+800 456 78 901</a>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- site-navigation end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--header end-->

    <!-- page-title -->
    <div class="prt-page-title-row">
      <div class="prt-page-title-row-inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="page-title-heading">
                <h2 class="title">Plugs Details</h2>
              </div>
              <div class="breadcrumb-wrapper-main" style="top: 250%">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner bread-white">
                    <span>
                      <a href="index.html" class="home">&nbsp;&nbsp;Home</a>
                    </span>
                    <span>
                      <a href="our-team.html" class="home"
                        >&nbsp;&nbsp;-&nbsp;&nbsp; Plugs</a
                      >
                    </span>
                    <span class="prt-bread-sep">&nbsp; - &nbsp;</span>
                    <span>Plugs Details</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--site-main start-->
    <div class="site-main">
      <!--prt-row-->
      <section class="prt-row bg-base-grey team-detail-section clearfix">
        <div
          class="prt-team-member-single-content-wrapper prt-team-member-view-default"
        >
          <div class="container">
            <div class="row prt-team-member-single-content">
              <div class="col-lg-8 m-auto">
                <div
                  class="row bg-base-white box-shadow pt-50 pb-30 pl-25 pr-25 res-575-pr-0 res-575-pl-0"
                >
                  <div class="col-xl-6 col-md-12">
                    <!-- prt-featured-wrapper -->
                    <div class="prt-featured-wrapper res-767-pr-0">
                      <div class="featured-thumbnail">
                        <img
                          width="408"
                          height="441"
                          class="img-fluid border-rad_6"
                          src="../../assets/images/blog/blog-6.jpg"
                          alt="image"
                        />
                      </div>
                    </div>
                    <!-- prt-featured-wrapper end-->
                  </div>
                  <div class="col-xl-6 col-md-12">
                    <div
                      class="prt-team-member-content res-767-pb-40 pb-50 res-767-pt-40 res-1199-pt-30"
                    >
                      <div class="prt-team-member-single-list">
                        <span class="prt-team-member-single-position"></span>
                        <h2 class="prt-team-member-single-title">
                          {{ borne.name }}
                        </h2>
                        <p>
                          Communication throughout the waiting process has been
                          timely and concise. Billy has been a star and answered
                          all my questions.
                        </p>
                        <div class="prt-team-data">
                          <div class="prt-team-details-wrapper">
                            <ul class="prt-team-details-list clearfix">
                              <li>
                                <div class="prt-team-list-title">Power:</div>
                                <div class="prt-team-list-value ml-10">
                                  <a href="tel:(123)456-7890">
                                    {{ borne.puissance }}</a
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="prt-team-list-title">
                                  Charging Time:
                                </div>
                                <div class="prt-team-list-value ml-10">
                                  <a
                                    href="mailto:info@example.com"
                                    tabindex="0"
                                  >
                                    {{ borne.tempsCharge }}</a
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="prt-team-list-title">
                                  Type of Connector :
                                </div>
                                <div class="prt-team-list-value ml-10">
                                  <a
                                    href="mailto:info@example.com"
                                    tabindex="0"
                                  >
                                    {{ borne.connecteur }}</a
                                  >
                                </div>
                              </li>
                              <li>
                                <div class="prt-team-list-title">
                                  Mode of Charging :
                                </div>
                                <div class="prt-team-list-value ml-10">
                                  <a
                                    href="mailto:info@example.com"
                                    tabindex="0"
                                  >
                                    {{ borne.mode }}</a
                                  >
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pt-30 res-575-pl-15 res-575-pr-15">
                    <h3>Description for our plug</h3>
                    <p>{{ borne.description }}</p>
                  </div>
                  <br />
                  <div *ngIf="disponibilite">
                    <h3>Availibility</h3>
                    <p>{{ disponibilite.etat }}</p>
                    <div _ngcontent-lbp-c54="" class="prt-team-data">
                      <div
                        _ngcontent-lbp-c54=""
                        class="prt-team-details-wrapper"
                      >
                        <div cass="col-md-6">
                          <ul
                            _ngcontent-lbp-c54=""
                            class="prt-team-details-list clearfix"
                          >
                            <li _ngcontent-lbp-c54="">
                              <div
                                _ngcontent-lbp-c54=""
                                class="prt-team-list-title"
                              >
                                FROM :
                              </div>
                              <div
                                _ngcontent-lbp-c54=""
                                class="prt-team-list-value ml-10"
                              >
                                <a
                                  _ngcontent-lbp-c54=""
                                  href="mailto:info@example.com"
                                  tabindex="0"
                                >
                                  {{ disponibilite.dateDebut }}</a
                                >
                              </div>
                            </li>
                          </ul>
                        </div>

                        <ul
                          _ngcontent-lbp-c54=""
                          class="prt-team-details-list clearfix"
                        >
                          <li _ngcontent-lbp-c54="">
                            <div
                              _ngcontent-lbp-c54=""
                              class="prt-team-list-title"
                            >
                              TO :
                            </div>
                            <div
                              _ngcontent-lbp-c54=""
                              class="prt-team-list-value ml-10"
                            >
                              <a
                                _ngcontent-lbp-c54=""
                                href="mailto:info@example.com"
                                tabindex="0"
                              >
                                {{ disponibilite.dateFin }}</a
                              >
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="pt-30 pb-20">
                    <h3>Our Working Topics</h3>
                    <p>
                      This business includes lot of risk &amp; think businesses
                      should be a force for good. That’s why we support local
                      good causes.Direct service to door in amid time..
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-12">
                      <div class="prt-featured-wrapper res-767-pr-0">
                        <div class="featured-thumbnail">
                          <img
                            class="img-fluid"
                            src="../../assets/images/services/services-03-407x222.jpg"
                            alt="image"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                      <ul
                        class="prt-list prt-list-style-icon d-grid prt-list-icon-color-skincolor res-1199-mt-30"
                      >
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >Our mission is to put an electric charge.</span
                          >
                        </li>
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >Access control put an electric vehicle
                            charge.</span
                          >
                        </li>
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >Free Support an electric vehicle charge.</span
                          >
                        </li>
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >On high-level decisions in unbiased</span
                          >
                        </li>
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >Electric cars are quiet, comfortable</span
                          >
                        </li>
                        <li>
                          <i class="fa fa-check-square"></i
                          ><span class="prt-list-li-content"
                            >Available 24 hours a day, 7 days a week</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    class="prt-horizontal_sep width-100 mt-10 mb-40 ml-20"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--prt-row end-->
    </div>
    <!--site-main end-->

    <!-- footer start -->
    <footer class="widget-footer bg-base-grey clearfix">
      <div class="second-footer prt-bgimage-yes bg-footer prt-bg">
        <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget_text clearfix">
                <h3 class="widget-title">About Elexio</h3>
                <div class="textwidget widget-text pb-10">
                  <p>
                    A premium Html Template for Electric vehicle store and
                    services websites. Get the latest UI/UX landing experience
                  </p>
                </div>
                <div class="textwidget widget-text">
                  <ul class="widget_contact_wrapper pl-0 res-575-pb-0">
                    <li>
                      <strong>Email:</strong>
                      <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li>
                      <strong>Address:</strong> 20 Prince St.New Roch, NY 10801
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-2 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Our Services</h3>
                <ul id="menu-footer-quick-links">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Vehicle Chargers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3 widget-area">
              <div class="widget widget-recent-post clearfix">
                <h3 class="widget-title">Recent Posts</h3>
                <ul class="widget-post prt-recent-post-list">
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="images/blog/blog-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Aug 01,2022
                        <span class="text-base-skin pl-5"> 03 Comment</span>
                      </span>
                      <a href="blog-right-sidebar.html"
                        >Discover nearby locations to charge electric vehicle
                      </a>
                    </div>
                  </li>
                  <li>
                    <a href="blog-right-sidebar.html"
                      ><img
                        class="img-fluid"
                        src="images/blog/blog-1-80x80.jpg"
                        alt="post-img"
                    /></a>
                    <div class="post-detail">
                      <span class="post-date"
                        >Sep 09,2022
                        <span class="text-base-skin pl-5">
                          05 Comment</span
                        ></span
                      >
                      <a href="blog-left-sidebar.html"
                        >Tata Power is offering ev charging solutions</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 widget-area">
              <div class="widget widget_nav_menu clearfix">
                <h3 class="widget-title">Useful Links</h3>
                <ul id="menu-footer-quick-links-main">
                  <li><a href="about-us.html">AC Charger Services</a></li>
                  <li><a href="about-us-2.html">Charge Point Services</a></li>
                  <li><a href="services-1.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                  <li><a href="faq.html">Home Charging</a></li>
                  <li><a href="contact-us.html">AC Charger Services</a></li>
                  <li><a href="about-us.html">Charge Point Services</a></li>
                  <li><a href="about-us-2.html">Building Services</a></li>
                  <li><a href="services-2.html">DC Charger Services</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-text text-center text-base-white copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="justify-content-between">
                <span class="cpy-text text-center"
                  >Copyright © 2022 <a href="index.html"> Elexio </a>. All
                  Rights Reserved.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!--back-to-top start-->
    <a id="totop" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!--back-to-top end-->
  </div>
  <!-- page end -->
</body>
