<div class="entry-content"></div>
<div class="col-xl-6 col-md-12">
  <div class="prt-pf-single-detail-box">
    <h3 class="prt-pf-detailbox-title">Project Details:</h3>
    <ul class="prt-pf-detailbox-list">
      <li>
        <span>Station name </span>
        <span class="prt-pf-right-details"> {{ station.name }}</span>
      </li>
      <li>
        <span>Opening Hrs </span>
        <span class="prt-pf-right-details">{{ station.ouverture }}</span>
      </li>
      <li>
        <span>Closing Hrs </span>
        <span class="prt-pf-right-details">{{ station.fermeture }}</span>
      </li>
      <li>
        <span>Website : </span>
        <span class="prt-pf-right-details">Ecofuel</span>
      </li>
      <li>
        <span>Services : </span>
        <span class="prt-pf-right-details">Charging</span>
      </li>
    </ul>
  </div>
</div>
